body {

}

h1 {
    
}
.background {
  background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
  width: 1440px;
  overflow: hidden;
  height: 95vh;
  display:flex; 
  margin-left:auto; 
  margin-right:auto;
  justify-content: center;
  align-content: center;
}

.box {
    background-color: white;
    align-self: center;
    display: flex;
    overflow: hidden;
    height: 450px;
    width: 1000px;
    border-radius: 25px;
  
}

.pattern-dsk {
    position: relative;
    bottom: 150px;
    right: 50px;
    height: auto;
    max-width: 100%;
}